
.road{
    background-image: url(../img/1671660106_kalix-club-p-doroga-tekstura-instagram-2.png);
    width: 800px;
    height: 700px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.traffic-light{
    width: 80px;
    height: 220px;
    background-color: black;
    border-radius: 10px;
    position: relative;
  }
  .traffic-light2{
    width: 80px;
    height: 220px;
    background-color: black;
    border-radius: 10px;
    position: relative;
    margin: 250px 720px;
  }
.light {
    margin: 0px 260px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
.red{
  left: -250px;
  top: 15px;
  animation: traffic_red 1.5s 2 alternate;
}
.yellow{
    top: 90px;
    animation: traffic_yellow 1.5s 2 alternate 2s;
    left: -250px;
}
.green{
    top: 160px;
    animation: traffic_green 1.5s 2 alternate 4s;
    left: -250px;
}
  #car1{
    transform: rotate(180deg);
    position: absolute;
    animation: moveCar1 5s 5s;
    top: 10px;
    left: 50px;
  }
  #car2{
    position: absolute;
    bottom: 0;
    animation: moveCar2 5s 5s;
    left: 650px;
  }
  @keyframes moveCar1{
    to {
      transform: translateY(1000px) rotate(180deg);
    }
  }
  @keyframes moveCar2{
      to {
        transform: translateY(-1000px);
      }
  }
@keyframes traffic_red {
  to{
    background-color: red;
  }
}
@keyframes traffic_yellow {
  to{
    background-color: yellow;
  }
}
@keyframes traffic_green {
  to{
    background-color: green;
  }
}