h4{
    color: purple;
    font-size: small;
    font-weight: 350;
    text-align: center;
    border-left: solid 2px purple;
    border-right: solid 2px purple;
    width: 400px;
    font-family: cursive; 
}
