

h4 {
    text-align: left;
    width: 500px;
    text-decoration: none;
    font-weight: 400;
}

h4 span { 
    background-color: aqua;
    color:aliceblue;

}

h4 span2 {
    border-bottom:solid aqua;
}