*{
    padding: 0;
    margin: 0;
}
header{
    padding: 30px 0;
    border-color: white;
    display: flex;
    margin-left: 50px;
}
.block1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../img/bcimg.jpg);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 20px;
    align-items: center;
    background-color: rgba(67, 71, 96, 1);
    background-blend-mode: multiply;
}
.line{
    width: 200px;
    height: 2px;
    background-color: blue;
}
.block1 button{
    width: 100px;
    height: 50px;
    border-color: blue;
    background-color: transparent;
}
.block2{
    padding: 100px 0;
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px; 
    align-items: center;
}
.block2 p {
    width: 700px;
}
.block3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/nature_mountains_road_to_mountains_027284_.jpg);
    background-color: rgba(67, 71, 96, 1);
    background-blend-mode: multiply;    
    color: white;
    padding-bottom: 200px;
}

.msg{
    padding: 100px 0px;
}
.block4{
    padding: 20px 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
}
input{
    background-color: transparent;
    border: solid 1px black;
}