button:hover::before{
    content: "——";
}
button:hover::after{
    content: "——";
}
h1::after{
    content: "—— ";
    padding-left: 10px;
}
h1::before{
    content: "——";
    padding-right: 10px;
}
a:visited{
    color: brown;
}